article {
  font-variant: small-caps; }

body {
  color: white;
 }

div h2 {
  color: black; }
  div h2:hover {
    background-color: #8888c4;
    padding: 5px; }

.logo {
  width: 100px;
  padding: 5px;
  border-radius: 50px; }

.centrado{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(https://c.tenor.com/yu4yJBMcidMAAAAd/space.gif); 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.fondocolor{
  color: white;
}

.texto {
  text-align: justify;
}